<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="author" content=""/>
    <meta name="copyright" content="">
    <meta name="revisit-after" content="4 days">
    <meta name="expires" content="never">
    <meta name="robots" content="noodp, noydir"/>
    <meta name="robots" content="index, follow" />
    <meta name="owner" content=""/>
    <meta name="googlebot" content="index, follow"/>
    <meta name="rating" content="general">
    <meta name="distribution" content="global"/>
    <meta name="search engines" content="Aeiwi, Alexa, AllTheWeb, AltaVista, AOL Netfind, Anzwers, Canada, DirectHit, EuroSeek, Excite, Overture, Go, Google, HotBot. InfoMak, Kanoodle, Lycos, MasterSite, National Directory, Northern Light, SearchIt, SimpleSearch, WebsMostLinked, WebTop, What-U-Seek, AOL, Yahoo, WebCrawler, Infoseek, Excite, Magellan, LookSmart, CNET, Googlebot"/>

    <title>{% block title %}{% endblock %}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customize.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% block customization_script %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('index') }}">目录</a>
        </li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
