{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="chapter container px-3 mt-5">
        <div class="row mx-0">
            <h2>{{ title }}</h2>
        </div>
        <div class="row mx-0">
            {{ content|safe }}
        </div>
        <div class="row mx-0 mb-5">
            <div class="btn-bottom btn-group mx-auto" role="group" aria-label="Basic example">
              <a role="button" class="btn btn-info mx-3" href="{{ url_for('nav_chapter', diretion='prev', chapterLink=chapterLink) }}">上一章</a>
              <a role="button" class="btn btn-info mx-3" href="{{ url_for('index') }}">目录</a>
              <a role="button" class="btn btn-info mx-3" href="{{ url_for('nav_chapter', diretion='next', chapterLink=chapterLink) }}">下一章</a>
            </div>
        </div>
    </div>
{% endblock %}